<%- include('../../partials/header-admin'); %>
<div class="header-links">
    <a href="/admin-nba/add-nba-product" class="btn btn-outline-light">Add New NBA Product</a>
    <a href="/admin" class="btn btn-outline-light">Return To Admin Dashboard</a>
    <a href="/admin-login/logout" class="btn btn-outline-light">Logout</a>
</div>

<% if(data.length > 0) {%>
    <table>
        <!---------- Column Name  ---------->
        <tr class="table_names">
            <td class="hdr-cell">ID</td>
            <td class="hdr-cell">League</td>
            <td class="hdr-cell">Team</td>
            <td class="hdr-cell">Gender</td>
            <td class="hdr-cell">Product Name</td>
            <td class="hdr-cell">Description</td>
            <td class="hdr-cell">Price</td>
            <td class="hdr-cell">Category</td>
            <td class="hdr-cell">Actions</td>
        </tr>
          <!--------------------------- Table Contents ------------------------------------->
          <% for(let i = 0; i < data.length; i++) { %>
            <tr id="">
                <td><%= data[i].id %></td>
                <td><%= data[i].league %></td>
                <td><%= data[i].team %></td>
                <td><%= data[i].gender %></td>
                <td><%= data[i].product_name %></td>
                <td><%= data[i].product_desc %></td>
                <td><%= data[i].price.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></td>
                <td><%= data[i].category %></td>
                <td class="actions">
                    <a href="/admin-nba/view/<%=data[i].id %>"  class="btn btn-outline-dark btn-sm"> View</a> 
                    <a href="/admin-nba/update/<%=data[i].id %>" class="btn btn-outline-dark btn-sm"> Update </a> 
                    <a href="/admin-nba/delete/<%=data[i].id %>" class="btn btn-outline-dark btn-sm"> Delete </a> 
                </td>
            </tr>
        <% } %>
    </table>
    <% }else{ %>
        <center>
            <h2>No Products Available</h2>
        </center>
    <%} %>
    <div>